.single-recent-blog {
  position: relative;
  z-index: 1;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  .post-thumbnail {
    @include flex(0 0 70px);
    max-width: 70px;
    width: 70px;
    margin-right: 30px;
    @media #{$breakpoint-lg} {
      margin-right: 10px;
    }
  }

  .post-content {
    position: relative;
    z-index: 1;

    .post-title {
      color: #b7b7b7;
      display: block;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 8px;

      &:hover {
        color: $white;
      }
    }

    .post-date {
      color: $white;
      font-size: 12px;
      margin-bottom: 0;
    }
  }

  &.style-2 {
    .post-content {
      .post-title {
        color: $heading;

        &:hover {
          color: $hover;
        }
      }

      .post-date {
        color: $text;
      }
    }
  }
}

.featured-post-area {
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
    z-index: 5;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.01) 90%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.01) 90%, rgba(0, 0, 0, 0) 100%);
  }

  img {
    width: 100%;
  }

  .post-content {
    position: absolute;
    width: 100%;
    padding: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    @media #{$breakpoint-xs} {
      padding: 30px;
    }

    h6 {
      color: #b7b7b7;
      font-weight: 400;

      a {
        color: #b7b7b7;
        font-weight: 400;

        &:focus,
        &:hover {
          color: $white;
        }
      }
    }

    .post-title {
      font-size: 24px;
      color: $white;
      margin-bottom: 0;
      @media #{$breakpoint-xs} {
        font-size: 20px;
      }

      &:focus,
      &:hover {
        color: $hover;
      }
    }
  }
}

.single-blog-area {
  position: relative;
  z-index: 1;

  &.style-2 {
    background-color: $white;
    padding: 21px 30px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    .post-content {
      h6 {
        font-size: 12px;
        font-weight: 400;
        color: #b7b7b7;
        margin-bottom: 5px;

        a {
          font-size: 12px;
          font-weight: 400;
          color: #b7b7b7;
          margin-bottom: 0;
        }
      }

      .post-title {
        display: block;
        font-size: 20px;
        margin-bottom: 10px;
        color: $heading;

        &:focus,
        &:hover {
          color: $hover;
        }
        @media #{$breakpoint-lg} {
          font-size: 18px;
        }
      }

      p {
        margin-bottom: 0;
      }
    }
  }
}

.single-blog-post-area {
  position: relative;
  z-index: 1;

  h6 {
    font-size: 16px;
    font-weight: 400;
    color: #b7b7b7;
    margin-bottom: 5px;

    a {
      font-size: 16px;
      font-weight: 400;
      color: #b7b7b7;
      margin-bottom: 0;
    }
  }

  .post-title {
    font-size: 30px;
    color: $heading;
    display: block;
    margin-bottom: 25px;
    @media #{$breakpoint-md} {
      font-size: 24px;
    }
@media #{$breakpoint-xs} {
  font-size: 20px;
}
    &:focus,
    &:hover {
      color: $hover;
    }
  }

  img {
    margin-bottom: 30px;
  }

  p {
    font-size: 16px;
    margin-bottom: 0;
  }
}

.pagination {
  position: relative;
  z-index: 1;
  margin-bottom: 100px;
  @include justify-content-center;

  .page-item {
    .page-link {
      background-color: $white;
      min-width: 46px;
      height: 46px;
      line-height: 44px;
      font-size: 16px;
      color: $text;
      text-transform: uppercase;
      text-align: center;
      display: inline-block;
      border-radius: 50%;
      padding: 0 15px;
      margin: 0 10px;
      border: 1px solid $border;

      &:focus,
      &:hover {
        border-color: $primary;
        background-color: $primary;
        color: $white;
      }
    }

    &.active {
      .page-link {
        border-color: $primary;
        background-color: $primary;
        color: $white;
      }
    }
  }
}

.comment_area {
  position: relative;
  z-index: 1;
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
  padding-bottom: 50px;
  padding-top: 50px;

  .comment-content {
    .comment-author {
      @include flex(0 0 70px);
      min-width: 70px;
      margin-right: 20px;
      height: 70px;
      border-radius: 50%;

      img {
        border-radius: 50%;
      }
      @media #{$breakpoint-xs} {
        @include flex(0 0 40px);
        min-width: 40px;
        margin-right: 10px;
        height: 40px;
      }
    }

    .comment-meta {
      margin-bottom: 30px;

      .comment-date {
        font-size: 12px;
        color: #b7b7b7;
        text-transform: uppercase;
        margin-bottom: 5px;
        display: block;
      }

      h6 {
        margin-bottom: 10px;
        font-size: 18px;
      }

      p {
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 2;
      }

      .reply {
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        color: $heading;

        &:hover {
          color: $hover;
        }
      }
    }
  }

  .single_comment_area {
    margin-bottom: 30px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .children {
    .single_comment_area {
      margin-left: 50px;
      margin-top: 30px;
      @media #{$breakpoint-xs} {
        margin-left: 15px;
      }
    }
  }
}

.news-details-content {
  position: relative;
  z-index: 1;
  padding-bottom: 50px;
  border-bottom: 1px solid $border;

  h6 {
    color: #b7b7b7;
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
    font-weight: 400;

    a {
      color: #b7b7b7;
      font-size: 18px;
      margin-bottom: 5px;
      font-weight: 400;

      &:hover {
        color: $hover;
      }
    }
  }

  h2 {
    font-size: 36px;
    display: block;
    margin-bottom: 30px;
    @media #{$breakpoint-md} {
      font-size: 30px;
    }
    @media #{$breakpoint-xs} {
      font-size: 24px;
    }
  }

  p {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
  }
}
