.breadcrumb-area {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 300px;
  @media #{$breakpoint-lg} {
    height: 240px;
  }
  @media #{$breakpoint-md} {
    height: 200px;
  }
  @media #{$breakpoint-xs} {
    height: 150px;
  }
  .breadcrumb-text {
    position: relative;
    z-index: 1;
    text-align: center;
    h2 {
      color: $white;
      text-transform: uppercase;
      margin-bottom: 0;
      font-size: 40px;
      @media #{$breakpoint-xs} {
        font-size: 24px;
      }
    }
  }
}

.famie-breadcrumb {
    position: relative;
    z-index: 1;
    padding-top: 48px;
    padding-bottom: 48px;

    .breadcrumb {
        padding: 0;
        margin-bottom: 0;
        background-color: transparent;
        border-radius: 0;

        .breadcrumb-item {
            color: $text;
            font-size: 16px;
            font-weight: 400;

            @media #{$breakpoint-lg} {
                font-size: 14px;
            }

            @media #{$breakpoint-md} {
                font-size: 14px;
            }

            @media #{$breakpoint-xs} {
                font-size: 12px;
            }

            a {
                color: $heading;
                font-size: 16px;
                font-weight: 400;

                @media #{$breakpoint-lg} {
                    font-size: 14px;
                }

                @media #{$breakpoint-md} {
                    font-size: 14px;
                }

                @media #{$breakpoint-xs} {
                    font-size: 12px;
                }

                &:hover,
                &:focus {
                    font-weight: 400;
                    color: $hover;
                }
            }
        }
    }

    .breadcrumb-item + .breadcrumb-item::before {
        content: "\f105";
        font-family: "FontAwesome";
        color: $text;
    }
}
