.contact-info-area {
  position: relative;
  z-index: 1;

  .c-border {
    border-bottom: 1px solid $border;
  }
}

.single-information-area {
  position: relative;
  z-index: 1;

  .contact-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: $hover;
    text-align: center;
    font-size: 30px;
    line-height: 70px;
    color: $white;
    margin: 0 auto 30px;
  }

  h6 {
    font-size: 18px;
    color: $text;
    margin-bottom: 0;
    font-weight: 400;
    @media #{$breakpoint-md} {
      font-size: 15px;
    }
  }
}

.form-control {
  position: relative;
  z-index: 2;
  height: 48px;
  width: 100%;
  background-color: $white;
  font-size: 12px;
  margin-bottom: 30px;
  padding: 10px 30px;
  color: $text;
  @include transition-duration(500ms);
  border: 1px solid $border;
  border-radius: 2px;

  &:focus {
    box-shadow: none;
    background-color: $white;
    border-color: $hover;
  }
  @media #{$breakpoint-xs} {
    padding: 10px 15px;
  }
}

select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea.form-control {
  height: 100px;
}
