.footer-area {
  position: relative;
  z-index: 1;
  background-color: $white;

  .footer-widget {
    position: relative;
    z-index: 1;

    .widget-title {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 30px;
      color: $white;
    }

    p {
      color: $white;
      margin-bottom: 15px;
    }
  }
}

.contact-info {
  position: relative;
  z-index: 1;

  p {
    @include display-flex(flex);
    @include align-items-center;
    margin-bottom: 20px;
    line-height: 1.3;

    i {
      @include flex(0 0 30px);
      max-width: 30px;
      width: 30px;
      color: $primary;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.footer-widget-nav {
  position: relative;
  z-index: 1;

  ul {
    @include display-flex(flex);
    @include align-items-center;
    @include flex-wrap(wrap);

    li {
      @include flex(0 0 50%);
      max-width: 50%;
      width: 50%;

      a {
        color: #b7b7b7;
        display: block;
        margin-bottom: 15px;
        font-weight: 400;

        &:focus,
        &:hover {
          color: $white;
        }
      }
    }
  }
}

.copywrite-area {
  position: relative;
  z-index: 1;
  padding: 20px 0;
  background-color: #0a0a0a;

  .copywrite-text {
    p {
      font-size: 14px;
      margin-bottom: 0;
      font-weight: 400;
      color: $text;
      @media #{$breakpoint-lg} {
        font-size: 12px;
      }
      @media #{$breakpoint-md} {
        font-size: 12px;
      }
      @media #{$breakpoint-xs} {
        font-size: 12px;
      }
    }

    a {
      color: $white;
      font-size: 14px;
      font-weight: 400;
      @media #{$breakpoint-lg} {
        font-size: 12px;
      }
      @media #{$breakpoint-md} {
        font-size: 12px;
      }
      @media #{$breakpoint-xs} {
        font-size: 12px;
      }

      &:focus,
      &:hover {
        color: $hover;
      }
    }
  }

  .footer-nav {
    position: relative;
    z-index: 1;

    ul {
      @include display-flex(flex);
      @include justify-content-end;
      @include flex-wrap(wrap);
      @include align-items-center;
      @media #{$breakpoint-xs} {
        margin-top: 10px;
        @include justify-content-start;
      }

      li a {
        display: inline-block;
        color: $text;
        font-size: 14px;
        padding: 0 12px;
        font-weight: 400;
        @media #{$breakpoint-md} {
          font-size: 12px;
          padding: 0 5px;
        }
        @media #{$breakpoint-xs} {
          padding: 0 5px;
          font-size: 12px;
        }

        &:focus,
        &:hover {
          font-weight: 400;
          color: $hover;
        }
      }

      li:last-child {
        a {
          padding-right: 0;
        }
      }

      li:first-child a {
        @media #{$breakpoint-xs} {
          padding-left: 0;
        }
      }
    }
  }
}

.footer-social-info {
  position: relative;
  z-index: 1;

  a {
    display: block;
    @include display-flex(flex);
    @include align-items-center;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    i {
      @include transition-duration(500ms);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      text-align: center;
      color: $white;
      border: 1px solid $primary;
      line-height: 40px;
    }

    span {
      color: #b7b7b7;
      font-size: 14px;
      display: inline-block;
      margin-left: 15px;
      font-weight: 400;
    }

    &:focus,
    &:hover {
      i {
        background-color: $primary;
      }

      span {
        color: $white;
      }
    }
  }
}
