.top-header-area {
  position: relative;
  z-index: 1;
  width: 100%;
  background-color: $bg-gray;
}

.top-header-content {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 40px;
  background-color: $bg-gray;
  @media #{$breakpoint-xs} {
    @include flex-wrap(wrap);
  }
  @media #{$breakpoint-md} {
    height: auto;
    padding: 15px 0;
  }
  @media #{$breakpoint-xs} {
    height: auto;
    padding: 10px 0;
  }

  .top-header-meta {
    position: relative;
    z-index: 1;
    @include flex(0 0 50%);
    max-width: 50%;
    width: 50%;

    p {
      margin-bottom: 0;
      font-size: 12px;

      span {
        color: $primary;
      }
      @media #{$breakpoint-xs} {
        font-size: 11px;
      }
    }

    a {
      font-size: 12px;
      color: $text;
      font-weight: 400;
      @media #{$breakpoint-md} {
        font-size: 16px;
      }
      @media #{$breakpoint-xs} {
        font-size: 16px;
      }

      span {
        @media #{$breakpoint-md} {
          display: none;
        }
        @media #{$breakpoint-xs} {
          display: none;
        }
      }

      &:first-child {
        margin-right: 30px;
      }

      &:focus,
      &:hover {
        color: $primary;
      }
    }
  }
}

.header-area {
  position: relative;
  z-index: 1000;
  width: 100%;

  .famie-main-menu {
    position: relative;
    width: 100%;

    .classy-nav-container {
      position: relative;
      z-index: 1;

      .container {
        position: relative;
        z-index: 1;
      }
    }

    .classy-navbar {
      padding: 0;
      height: 80px;
      @media #{$breakpoint-md} {
        height: 70px;
      }
      @media #{$breakpoint-xs} {
        height: 70px;
      }

      .nav-brand {
        max-width: 150px;
        @media #{$breakpoint-lg} {
          max-width: 120px;
        }
        @media #{$breakpoint-xs} {
          max-width: 110px;
        }
      }

      .classynav ul {
        li {
          a {
            font-weight: 400;
            text-transform: uppercase;
            font-size: 14px;
            color: $heading;

            &:focus,
            &:hover {
              color: $primary;
            }
          }

          ul li a {
            text-transform: capitalize;
            padding: 0 20px;
            font-size: 14px;
            color: $dark;
            line-height: 34px;
            height: 35px;
            @media #{$breakpoint-md} {
              color: $text;
            }
            @media #{$breakpoint-xs} {
              color: $text;
            }

            &::after {
              color: $dark;
            }

            &:focus,
            &:hover {
              color: $hover;
            }
          }

          &.active a {
            color: $primary;
          }
        }
      }
    }
  }

  .is-sticky {
    .famie-main-menu {
      z-index: 9999;
      box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.2);
    }
  }

  #searchIcon {
    position: relative;
    z-index: 1;
    color: $heading;
    margin: 0 25px;
    cursor: pointer;
    @include transition-duration(500ms);
    display: inline-block;

    &:focus,
    &:hover {
      color: $primary;
    }
  }

  #cartIcon {
    position: relative;
    z-index: 1;
    display: inline-block;

    a {
      display: inline-block;
      font-size: 18px;

      span {
        position: absolute;
        top: -5px;
        right: -5px;
        z-index: 9;
        display: block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $primary;
        color: $white;
        font-size: 10px;
        text-align: center;
        line-height: 15px;
      }
    }
  }
}

.search-form {
  @include transition-duration(500ms);
  position: absolute;
  width: 500px;
  background-color: $white;
  z-index: 1;
  right: 0;
  bottom: -70px;
  height: 50px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15);
  @media #{$breakpoint-xs} {
    width: 280px;
    right: 15px;
  }
  @media #{$breakpoint-sm} {
    width: 320px;
    right: 0;
  }

  input {
    width: 100%;
    height: 50px;
    border-radius: 0;
    border: none;
    padding: 15px;
    font-size: 12px;
    font-style: italic;
  }

  .closeIcon {
    position: absolute;
    z-index: 99;
    top: 0;
    right: 15px;
    font-size: 12px;
    color: $text;
    width: auto;
    height: 16px;
    line-height: 16px;
    top: 50%;
    margin-top: -8px;
    cursor: pointer;

    &:hover {
      color: $hover;
    }
  }

  &.search-active {
    opacity: 1;
    visibility: visible;
    bottom: -55px;
  }
}

.classynav {
  @media #{$breakpoint-md} {
    padding-bottom: 70px;
  }
  @media #{$breakpoint-xs} {
    padding-bottom: 70px;
  }

  > ul {
    @media #{$breakpoint-md} {
      padding-bottom: 20px;
    }
    @media #{$breakpoint-xs} {
      padding-bottom: 20px;
    }
  }
}
