.single-widget-area {
  position: relative;
  z-index: 1;
  margin-bottom: 80px;

  .widget-title {
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
  }
}

.search-widget-form {
  position: relative;
  z-index: 1;

  .form-control {
    padding: 0 15px;
    margin-bottom: 0;
  }

  button {
    position: absolute;
    width: auto;
    height: 48px;
    line-height: 50px;
    top: 0;
    right: 15px;
    border: none;
    font-size: 18px;
    color: $text;
    z-index: 99;
    background-color: transparent;
    cursor: pointer;
  }
}

.cata-list {
  position: relative;
  z-index: 1;

  li {
    a {
      display: block;
      font-size: 16px;
      padding: 10px 0;
      border-bottom: 1px solid $border;
      color: $text;
      font-weight: 400;
      &:hover, &:focus {
        color: $hover;
      }
    }

    &:first-child {
      a {
        padding-top: 0;
      }
    }

    &:last-child {
      a {
        border-bottom: none;
        padding-bottom: 0;
      }
    }
  }
  &.shop-page {

      li {
        a {
          font-size: 14px;
          padding: 5px 0;
          border-bottom: none;
        }
      }
  }
}

.famie-tags {
  position: relative;
  z-index: 1;
  @include display-flex(flex);
  @include flex-wrap(wrap);
  margin-left: -5px;

  li {
    a {
      display: inline-block;
      padding: 5px 15px;
      background-color: $bg-gray;
      margin: 5px;
      color: $text;
      font-weight: 400;

      &:focus,
      &:hover {
        background-color: $primary;
        color: $white;
      }
    }
  }
}

.single-best-product {
  position: relative;
  z-index: 1;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  .product-thumbnail {
    @include flex(0 0 90px);
    max-width: 90px;
    width: 90px;
  }

  .product-info {
    padding-left: 20px;

    .pro-name {
      font-weight: 400;
      color: $text;
      display: block;
      margin-bottom: 5px;
      font-size: 16px;

      &:focus,
      &:hover {
        color: $primary;
      }
    }

    h6 {
      margin-bottom: 0;
      font-size: 18px;
    }

    .product-rating {
      i {
        font-size: 10px;
        color: #ff9800;
      }
    }
  }
}

.famie-blockquote {
  position: relative;
  z-index: 1;
  margin: 50px 0;

  .quote-icon {
    @include flex(0 0 80px);
    max-width: 80px;
    width: 80px;
    @media #{$breakpoint-xs} {
      @include flex(0 0 50px);
      max-width: 50px;
      width: 50px;
    }
  }

  .quote-text {
    h5 {
      font-weight: 700;
      line-height: 1.5;
      margin-bottom: 15px;
      @media #{$breakpoint-xs} {
        font-size: 16px;
      }
    }

    span {
      font-weight: 700;
      color: $hover;
      text-transform: uppercase;
    }
  }
}

.share-post {
  position: relative;
  z-index: 1;
@media #{$breakpoint-xs} {
  margin-bottom: 30px;
}
  span {
    font-size: 16px;
    color: #b7b7b7;
    font-weight: 400;
    margin-right: 15px;
    text-transform: capitalize;
  }

  .share-icons {
    position: relative;
    z-index: 1;

    a {
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid $border;
      margin-right: 10px;
      text-align: center;
      line-height: 38px;
      color: $text;

      &:focus,
      &:hover {
        background-color: $primary;
        color: $white;
        border-color: $primary;
      }
    }
  }
}

.post-author-area {
  position: relative;
  z-index: 1;
  padding: 50px 0;

  .post-author-img {
    @include flex(0 0 80px);
    max-width: 80px;
    width: 80px;
    margin-right: 30px;
    border-radius: 50%;

    img {
      border-radius: 50%;
    }
  }

  .post-author-description {
    h6 {
      font-size: 18px;
    }

    p {
      margin-bottom: 0;
    }
  }
}
